<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/blog.css">

<div id="content" class="container">
    
    <h1>Blog</h1>
    <div class="thicc-line mb-1"></div>
    <div class="thin-line"></div>
    <div class="date-time d-flex justify-content-around align-items-center">
        <p>No. <%=posts.length%></p>
        <p><%=date.toDateString().substring(0,3) + "," + date.toDateString().substring(3)%></p>
        <p>F.o.b EDITION</p>
    </div>
    <div class="thin-line"></div>
    <div class="thicc-line mt-1 mb-3"></div>

    <section id="blog-posts" class="py-3">
    <% if (posts.length === 0 ){ %>
        <h2 id="sorry-msg">Sorry, no Blog Posts have been published yet.</h2>
    <% }else{ %>
        <% posts.forEach(function(post){ %>
            <div class="row justify-content-center mb-3">
                <div class="blog-post col-12 col-sm-8 py-4 d-flex flex-column align-items-center justify-content-center">
                    <h3><%=post.title%></h3>
                    <% if (post.content.indexOf("<figure>") !== -1 ){ %>
                    <img src="<%= getImgSrc(post.content) %>" class="img-fluid" alt="">
                    <% }else { %>
                    <img src="./images/stub.png" class="img-fluid" alt="">
                    <% } %>
                    <p class="mt-3"><%=post.contentSnippet%> <a href="<%=post.link%>" target="_blank">read more</a></p>
                    
                </div>
            </div>
        
            <% }); %>
    <% } %>
    </section>

    <% 
        function getImgSrc(str){                 
            var index = str.indexOf("src") + 5; 
            var imgSrc = "";                    
            while (str[index] !== "\""){        
                imgSrc += str[index];           
                index ++;                       
            }                                   
            return imgSrc;                      
        }                
    %>
</div>

<% include ./partials/footer %>
